body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scoring {
    display: flex;
    flex-direction: row;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}